<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313184665395-i1b89u9gj0bosisclvbcnkqqpgh6502p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313184665395-i1b89u9gj0bosisclvbcnkqqpgh6502p</string>
	<key>API_KEY</key>
	<string>AIzaSyDmN6vd9uuYJghGyBkCIWIl3BFFauzSBzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>313184665395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BP.contactcenter.BPContactCenter-Example</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-example-2f229</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-example-2f229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313184665395:ios:f63e52213773933bbbc846</string>
</dict>
</plist>